<ion-footer [@changeHeight]="position" padding>


  <ion-toolbar (click)="changeAnimation()">

    <ion-title>

      {{audio.titulo || audio.nombre}}

      <small> {{duration | date : 'mm:ss'}} </small>

    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="$event.stopPropagation();toggleAudio();">
        <ion-icon [name]="isPlaying ? 'pause' : 'play'"></ion-icon>
      </ion-button>
    </ion-buttons>


  </ion-toolbar>

  <ion-content *ngIf="audio" scroll-y="true">



    <ion-item>

      <ion-grid>

        <ion-row>

          <ion-col size="4">

            <small>Género</small>
            <strong> {{ audio.genero }} </strong>

          </ion-col>
          <ion-col size="4">

            <small>Tonalidad</small>
            <strong> {{ audio.tonalidad }} </strong>

          </ion-col>
          <ion-col size="4">

            <small>Compás</small>
            <strong> {{ audio.compas }} </strong>

          </ion-col>

        </ion-row>

      </ion-grid>

    </ion-item>
    <ion-item>
      <ion-grid>

        <ion-row>

          <ion-col size="12">

            <small>Letra</small>
            <strong class="letra-container" text-wrap>
              {{ letra }}
            </strong>

          </ion-col>

        </ion-row>

      </ion-grid>
    </ion-item>

  </ion-content>

</ion-footer>

<button hidden (click)="stopPlaying()" #hiddenButton></button>