ion-footer {
  border-radius: 25px 25px 0px 0px;
  background-color: orange; 
}

ion-toolbar {
  --background: orange; 
}

ion-item {
  --background: orange; 
  
  small {
    display: block;
  }
}

ion-content {
  --padding-bottom: 32px;
  --background: orange; 
}

ion-title {
  --color:white;
}

ion-toolbar {
  ion-icon {
    color: white;
  }
}

small {
  color: white;
}

strong {
  color: white;
}

.letra-container {
  min-height: 90px;
}