<ion-content padding>
  <!-- <ion-list-header>Ingresar</ion-list-header> -->

  <ion-title text-center>Composer</ion-title>

  <ion-row class="ion-align-self-center">
    <ion-col>

      <form [formGroup]="formInstace" class="">

        <div class="">

          <ion-label>Email</ion-label>
          <ion-input clearInput formControlName="email" placeholder="Ingrese email" value=""></ion-input>

        </div>

        <div>

          <ion-label>Contraseña</ion-label>
          <ion-input clearInput formControlName="password" type="password" placeholder="Ingrese contraseña" value="">
          </ion-input>

        </div>

        <ion-button shape="round" expand="full" (click)="ingresar()">Ingresar</ion-button>

        <ion-button shape="round" expand="full" color="danger" (click)="ingresarGoogle()">Ingresar con google
        </ion-button>

        <ion-button shape="round" fill="outline" expand="full" routerLink="/register">Regístrate aquí</ion-button>

      </form>

    </ion-col>
  </ion-row>

</ion-content>