ion-title {
  margin-top: 16vh;
  color: white;
  font-size: 24px;
  margin-bottom: 16px;
}

ion-label {
  color: white;
}

ion-button {
  margin-bottom: 16px;
}

ion-input {
  --color: white;
  --background: orange;
  --padding-start: 20px;
  --padding-top: 16px;
  --padding-bottom: 16px;
}

ion-content {
  --background: linear-gradient(25deg, rgba(255,179,35,1) 0%, rgba(250,206,162,1) 100%);
}