ion-input, ion-select, ion-textarea {
  --color: white;
  --background: orange;
  --padding-start: 20px;
  --padding-top: 16px;
  --padding-bottom: 16px;
}

ion-select {
  color: white;
  background: orange;
}

ion-back-button, ion-icon {
  --color: white;
}

ion-icon {
  color: white;
}

ion-content {
  --background: rgb(252, 235, 218);
}