<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> {{titulo}} </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="registrarGrabacion()">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form [formGroup]="formInstance" class="form">

    <ion-grid>


      <ion-row>

        <ion-col>

          <div class="">

            <ion-label>Título</ion-label>
            <ion-input clearInput formControlName="titulo" placeholder="Ingrese título" value=""></ion-input>

          </div>

        </ion-col>

      </ion-row>
      <ion-row>

        <ion-col>
          <div class="">

            <ion-label>Género</ion-label>
            <ion-select formControlName="genero" placeholder="Seleccione genero" value="">
              <ion-select-option value="Rock">Rock</ion-select-option>
              <ion-select-option value="Blues">Blues</ion-select-option>
              <ion-select-option value="Pop">Pop</ion-select-option>
              <ion-select-option value="Electro">Electro</ion-select-option>
            </ion-select>

          </div>


        </ion-col>

      </ion-row>





      <ion-row>

        <ion-col size="6">

          <div class="">

            <ion-label>Tonalidad</ion-label>
            <ion-select formControlName="tonalidad" placeholder="Seleccione tonalidad" value="">
              <ion-select-option value="C">C</ion-select-option>
              <ion-select-option value="C#">C#</ion-select-option>
              <ion-select-option value="D">D</ion-select-option>
              <ion-select-option value="D#">D#</ion-select-option>
              <ion-select-option value="E">E</ion-select-option>
              <ion-select-option value="F">F</ion-select-option>
              <ion-select-option value="F#">F#</ion-select-option>
              <ion-select-option value="G">G</ion-select-option>
              <ion-select-option value="G#">G#</ion-select-option>
              <ion-select-option value="A">A</ion-select-option>
              <ion-select-option value="A#">A#</ion-select-option>
              <ion-select-option value="B">B</ion-select-option>
            </ion-select>

          </div>

        </ion-col>
        <ion-col size="6">

          <div class="">

            <ion-label>Compás</ion-label>
            <ion-select formControlName="compas" placeholder="Seleccione compás" value="">
              <ion-select-option value="2/4">2/4</ion-select-option>
              <ion-select-option value="4/4">4/4</ion-select-option>
              <ion-select-option value="3/4">3/4</ion-select-option>
              <ion-select-option value="6/8">6/8</ion-select-option>
              <ion-select-option value="12/8">12/8</ion-select-option>
            </ion-select>

          </div>

        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col>

          <div class="">

            <ion-label>Letra</ion-label>
            <ion-textarea formControlName="letra" placeholder="Ingrese letra" rows="3"></ion-textarea>

          </div>

        </ion-col>

      </ion-row>

    </ion-grid>

  </form>
</ion-content>