<ion-header>
  <ion-toolbar>
    <ion-title>Mis audios</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="menu()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="recordAudio()">
      <ion-icon name="mic"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-searchbar (ionChange)="searchBar($event)" showCancelButton="focus"></ion-searchbar>

  <div>
    <ion-chip outline (click)="openFilter($event,'genero')" color="primary">
      <ion-label>Género {{filter.genero}}</ion-label>
    </ion-chip>
    <ion-chip outline (click)="openFilter($event,'tonalidad')" color="secondary">
      <ion-label>Tonalidad {{filter.tonalidad}}</ion-label>
    </ion-chip>
    <ion-chip outline (click)="openFilter($event,'compas')" color="tertiary">
      <ion-label>Compás {{filter.compas}}</ion-label>
    </ion-chip>
    <ion-chip outline (click)="clearFilter()" color="tertiary">
      <ion-label>X</ion-label>
    </ion-chip>
  </div>

  <ion-card button="true" (click)="controlAudio(file, i)" *ngFor="let file of mediaFiles; let i = index"
    class="ion-text-wrap">

    <ion-item lines="none">
      <ion-card-header>


        <ion-card-title [ngClass]="audioSelectedIndex === i ? 'text-red' : ''">
          {{ file.titulo || file.nombre }}
        </ion-card-title>

        <ion-card-subtitle>
          {{ file.fecha_creacion | date: 'short' }}
        </ion-card-subtitle>




      </ion-card-header>
      <ion-button (click)="openAudioOptions($event, file)" fill="outline" slot="end">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-card>


</ion-content>

<app-control-player *ngIf="audio" (stopPlayingEmitter)="isPlaying = false" [audio]="audio"></app-control-player>