
.bottom-control {
  height: 40px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.full {
  width: 100%;
}

.text-red {
  color: red;
}

ion-card {
  --background: white;
}

ion-toolbar {
  ion-icon {
    color: white;
  }
}

ion-content {
  --background: rgb(252, 235, 218);
}

app-control-player {
  background: rgb(252, 235, 218);
}
