<ion-list *ngIf="type==='audio-options'">
  <ion-item button (click)="popoverController.dismiss('share')">Compartir
  </ion-item>
  <ion-item button lines="none" (click)="popoverController.dismiss('edit')">
    Editar</ion-item>
</ion-list>

<ion-list *ngIf="type==='filter-genero'">

  <ion-item button (click)="popoverController.dismiss({genero:'Rock'})">Rock</ion-item>
  <ion-item button (click)="popoverController.dismiss({genero:'Blues'})">Blues</ion-item>
  <ion-item button (click)="popoverController.dismiss({genero:'Pop'})">Pop</ion-item>
  <ion-item button lines="none" (click)="popoverController.dismiss({genero:'Electro'})">Electro</ion-item>

</ion-list>

<ion-list *ngIf="type==='filter-tonalidad'">

  <ion-item button (click)="popoverController.dismiss({tonalidad:'C'})">C</ion-item>
  <ion-item button (click)="popoverController.dismiss({tonalidad:'C#'})">C#</ion-item>
  <ion-item button (click)="popoverController.dismiss({tonalidad:'D'})">D</ion-item>
  <ion-item button (click)="popoverController.dismiss({tonalidad:'D#'})">D#</ion-item>
  <ion-item button (click)="popoverController.dismiss({tonalidad:'E'})">E</ion-item>
  <ion-item button (click)="popoverController.dismiss({tonalidad:'F'})">F</ion-item>
  <ion-item button (click)="popoverController.dismiss({tonalidad:'F#'})">F#</ion-item>
  <ion-item button (click)="popoverController.dismiss({tonalidad:'G'})">G</ion-item>
  <ion-item button (click)="popoverController.dismiss({tonalidad:'G#'})">G#</ion-item>
  <ion-item button (click)="popoverController.dismiss({tonalidad:'A'})">A</ion-item>
  <ion-item button (click)="popoverController.dismiss({tonalidad:'A#'})">A#</ion-item>
  <ion-item button lines="none" (click)="popoverController.dismiss({tonalidad:'B'})">B</ion-item>

</ion-list>

<ion-list *ngIf="type==='filter-compas'">

  <ion-item button (click)="popoverController.dismiss({compas:'2/4'})">2/4</ion-item>
  <ion-item button (click)="popoverController.dismiss({compas:'4/4'})">4/4</ion-item>
  <ion-item button (click)="popoverController.dismiss({compas:'3/4'})">3/4</ion-item>
  <ion-item button (click)="popoverController.dismiss({compas:'6/8'})">6/8</ion-item>
  <ion-item button lines="none" (click)="popoverController.dismiss({compas:'12/8'})">12/8</ion-item>

</ion-list>