ion-input {
  --color: white;
  --background: orange;
  --padding-start: 20px;
  --padding-top: 16px;
  --padding-bottom: 16px;
}

ion-back-button, ion-icon {
  --color: white;
}

ion-icon {
  color: white;
}