<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Regístrate</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="registrar()">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="formInstance">

    <div>

      <ion-label>Nombres</ion-label>
      <ion-input clearInput formControlName="nombres" value=""></ion-input>

    </div>

    <div>

      <ion-label>Apellidos</ion-label>
      <ion-input clearInput formControlName="apellidos" value=""></ion-input>

    </div>

    <div>

      <ion-label>Email</ion-label>
      <ion-input clearInput formControlName="email" value=""></ion-input>

    </div>

    <div>

      <ion-label>Contraseña</ion-label>
      <ion-input clearInput formControlName="password" type="password" value=""></ion-input>

    </div>

    <div>

      <ion-label>Repita contraseña</ion-label>
      <ion-input clearInput formControlName="repeatPassword" type="password" value=""></ion-input>

    </div>

    <!-- <ion-button shape="round" expand="full" (click)="registrar()">Aceptar</ion-button> -->

  </form>

</ion-content>